DB_VENDOR=
DB_HOST=
DB_PORT=
DB_NAME=
DB_TIMEZONE=
DB_USERNAME=
DB_PASSWORD=
DB_DRIVER=
DB_DIALECT=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SPRING_PROFILES_ACTIVE=
GOOGLE_API_ADDRESS=
VWORLD_API_ADDRESS=
VWORLD_API_KEY=
AI_SERVER_API_ADDRESS=