DB_VENDOR=mysql
DB_HOST=keepgo-db-v1.c9c2syg08nfm.ap-northeast-2.rds.amazonaws.com
DB_PORT=3306
DB_NAME=keepgo
DB_TIMEZONE=Asia/Seoul
DB_USERNAME=keepgo_app
DB_PASSWORD=dbf828f634f372503f16d90684889a5b741a2f0d52ad9ca1e087ccd5a82c1cc4
DB_DRIVER=com.mysql.cj.jdbc.Driver
DB_DIALECT=MySQL
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SPRING_PROFILES_ACTIVE=
GOOGLE_API_ADDRESS=
VWORLD_API_ADDRESS=
VWORLD_API_KEY=
AI_SERVER_API_ADDRESS=
FRONTEND_SERVER_ADDRESS=
JWT_SECRET=51e007a319c07466b53edf1b5b81ccd4eddbd6d4d6144c5dbb60fbf4ed0aeb67
LOGGING_LEVEL=